#Card {
  display: grid;
  grid-template-columns: repeat(5, 18%);
  gap: 5% 2%;
  .cardItem {
    padding: 20px;
    box-sizing: border-box;
    min-height: 200px;
    border-radius: 5px;
    background-color: white;
  }
}